.internal-link {
    color:orange;
    font-family:'Courier New', Courier, monospace;
    font-size: 70px;
}

.initial-title {
    color: wheat;
    font-family:'Courier New', Courier, monospace;
    font-size: 100px;
    text-align: center;
}

body {
    background-color: grey;
}

.title,
.instructive {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.text {
    color: white;
    font-family: monospace;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5%;
}

.bio {
    text-align: center;
    font-family: "Comic Sans MS";
}